<div class="drop-container" ngFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
  <h1>Drag & Drop</h1>
</div>

<label class="upload-button">
  <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
  or choose file(s)
</label>

<button type="button" class="start-upload-btn" (click)="startUpload()">
  Start Upload
</button>

<div class="column is-10 is-offset-1" *ngIf="files && files.length">
  <div class="upload-file" *ngFor="let f of files; let i = index;">
    <div class="columns">
      <div class="column is-10">
        <div class="progress-bar-container">
          <div class="bar" [style.width]="f.progress.data.percentage + '%'" [ngClass]="{ 'green': f.progress.data.percentage === 100 }"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div *ngIf="results.length">
    <div *ngFor="let file of results; let i = fileIndex">
      <div>{{file.name}}</div>
      <div><img src="{{file.fullUrl}}" alt=""></div>
    </div>
  </div>
</div>
