<div class="col-xs-12 text-center">
  <h5>{{intro}}</h5>

  <audio #audioplayer
         [src]="list"
         [autoplay]="autoplay"
         [controls]="controls"
         [volume]="volume"
         [loop]="loop"
         [preload]="preload"
         [muted]="muted"
  >

  </audio>
  <button type="button" (click)="play()" *ngIf="playButton">Play</button>
  <button type="button" (click)="pause()" *ngIf="pauseButton">Pause</button>
  <button type="button" (click)="previousTrack()" *ngIf="selectableButton">Previous</button>
  <button type="button" (click)="nextTrack()" *ngIf="selectableButton">Next</button>
  <button type="button" (click)="muteVideo()" *ngIf="muteButton">Mute</button>

  <br>
  <div *ngFor="let song of audioTracksList">
    <div (click)="playThis(song.Key)">{{song.Key}}</div>
  </div>
</div>
