.tile {
  height: 200px;
  width: 200px;
  background: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
  border-radius: 5px;
}

.tile-wrapper-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
