<div class="row">

  <!--Charts-->
  <div class="col-xs-1 col-sm-6 col-md-4">
    <div class="tile-container">
      <app-charts-tile></app-charts-tile>
    </div>
  </div>

  <!--Bot-->
  <div class="col-xs-1 col-sm-6 col-md-4">
    <div class="tile-container">
      <app-bot-tile></app-bot-tile>
    </div>
  </div>

  <!--Report-->
  <div class="col-xs-1 col-sm-6 col-md-4">
    <div class="tile-container">
      <app-report-tile></app-report-tile>
    </div>
  </div>

  <!--Player-->
  <div class="col-xs-1 col-sm-6 col-md-4">
    <div class="tile-container">
      <app-player-tile></app-player-tile>
    </div>
  </div>

  <!--Voice-->
  <div class="col-xs-1 col-sm-6 col-md-4">
    <div class="tile-container">
      <app-voice-tile></app-voice-tile>
    </div>
  </div>

  <!--Image-->
  <div class="col-xs-1 col-sm-6 col-md-4">
    <div class="tile-container">
      <app-image-tile></app-image-tile>
    </div>
  </div>
</div>

